{% extends 'base.html.twig' %}

{% block title %}Page d'Ajout d'Articles{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Formulaire d'edition de l'article #{{ article.id }}</h1>

    <form action="{{path("article_index")}}" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" id="" name="title" value="{{ article.title }}">
    </div>
    <div>
        <label for="content">Content</label>
        <input type="textarea" id="" name="content" value="{{ article.content }}" >
    </div>
    <div>
        <label for="short_content">Short Content</label>
        <input type="text" id="" name="short_content" value="{{ article.shortContent }}" >
        

    </div>

</form>
</div>
{% endblock %}