<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <a href="{{path('app_index')}}">Accueil</a>
        <a href="{{path('article_new')}}">Créer un article</a>
        <a href="{{path('category_new')}}">Créer une catégorie</a>
        <a href="{{path('article_index')}}">Liste des articles</a>
        <a href="{{path('category_index')}}">Liste des Catégories</a>
        
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>